format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$git_metrics\
$cmd_duration\
$line_break\
$python\
$character"""

[username]
show_always = false
format = '[$user]($style)@'

[hostname]
ssh_only = true
format = '[$hostname]($style) '

[directory]
style = "blue"

[character]
success_symbol = "[>](purple)"
error_symbol = "[>](red)"
vimcmd_symbol = "[<](green)"

[git_branch]
format = "[$branch]($style)"
style = "purple"

[git_status]
format = "[[($conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "red"
conflicted = "="
untracked = "?"
modified = "!"
staged = "+"
renamed = "r"
deleted = "x"
stashed = "\\$"
ahead="++"
behind="--"
diverged="+/-"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[git_metrics]
added_style = 'bold blue'
format = ' [+$added]($added_style)/[-$deleted]($deleted_style) '
disabled = false

[cmd_duration]
format = " [$duration]($style) "
style = "yellow"

[python]
format = "[$virtualenv]($style) "
style = "bright-black"
